.content {
	text-align: justify;
}
.footer {
	margin-top: 45px;
	padding: 0 0 36px;
	border-top: 1px solid #e5e5e5;
}
.nodisplay {
	display: none;
}
.center {
	text-align: center;
}
.selected {
	font-weight: bold !important;
}
.num-words {
	font-weight: normal;
}
.inp-fld {
	display: inline-block;
	width: 80%;
}
.form-group-right {
	text-align: right;
}
@media (min-width: 768px) and (max-width: 992px) {
	.inp-fld {
		display: inline-block;
		width: 69%;
	}
}
@media (max-width: 768px) {
	.inp-fld {
		display: inline-block;
		width: 70%;
	}
	.add-btn {
		width: 50%;
	}
}
#feedback
{
	margin-top:20px;
}
